<!DOCTYPE html>
<html lang="en">
<head>
    <title>Página de Ferramentas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" href="/static/produtos/css/menu-lateral.css">
    <link rel="stylesheet" type="text/css" href="/static/produtos/css/paginacompleta.css">
    <link rel="stylesheet" type="text/css" href="/static/produtos/css/paginaconta.css">


</head>
<body>
    <div class="pagina-completa">
        <div class="menu-lateral">
            <div class="borda-elemento">
                 <nav class="menu-1">
                        <div class="logo-principal">
                            <a class="logo-nav" href="#">
                                <img src="/static/produtos/img/logodapagina.png" height="70" alt="Logo">
                            </a>
                        </div>
                        <div class="todos-os-itens-menu">
                            <ul class="itens-geral-menu">

                                <li class="itens-unicos-menu">
                                    <a class="links-paginas-menu" href="/conta/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/usuario.png" height="30">
                                            <span class="texto-menu">Minha Conta</span>
                                        </div>
                                    </a>
                                </li>

                               <li class="itens-unicos-menu">
                                   <a class="links-paginas-menu" href="/">
                                       <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/ferramentas.png" height="30">
                                            <span class="texto-menu">Ferramentas</span>
                                       </div>
                                   </a>
                                </li>


                                <li class="itens-unicos-menu">
                                    <a class="links-paginas-menu" href="/suporte/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/suporte.png" height="30">
                                            <span class="texto-menu">Suporte</span>
                                        </div>
                                    </a>
                                </li>


                                <li class="itens-unicos-menu" style="display:none">
                                    <a class="links-paginas-menu" href="/sugestoes/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/sugestoes.png" height="30">
                                            <span class="texto-menu">Sugestões</span>
                                        </div>
                                    </a>
                                </li>


                                <li class="itens-unicos-menu">
                                    <a class="links-paginas-menu" href="/tutoriais/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/tutoriais.png" height="30">
                                            <span class="texto-menu">Tutoriais</span>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="interacao-menu">
                            <a class="icone-interacao-fechar" href="#">
                                <img src="/static/produtos/img/fechar-menu.svg" height="20" alt="Logo">
                            </a>
                        </div>
                    </nav>
                 <nav class="menu-fechado">
                        <div class="logo-principal">
                            <a class="logo-nav" href="#">
                                <img src="/static/produtos/img/ferramentas.png" height="40" alt="Logo">
                            </a>
                        </div>

                        <div class="todos-os-itens-menu">
                            <ul class="itens-geral-menu-fechado">
                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/conta/">
                                       <img src="/static/produtos/img/usuario.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/">
                                        <img src="/static/produtos/img/ferramentas.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/suporte/">
                                        <img src="/static/produtos/img/suporte.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado" style="display:none">
                                    <a class='menu-fechado-links' href="/sugestoes/">
                                        <img src="/static/produtos/img/sugestoes.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/tutoriais/">
                                        <img src="/static/produtos/img/tutoriais.png" height="30">
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="interacao-menu">
                            <a class="icone-interacao-abrir" href="#">
                                <img src="/static/produtos/img/abrir-menu.svg" height="20" alt="Logo">
                            </a>
                        </div>
                    </nav>
            </div>
        </div>
        <div class="areadoprincipal">
            <div class="principalborda">
                <div>
                    {% if user.first_name %}
                    <span class="nome-usuario-text">Bem-vindo, {{ user.first_name }}!</span>
                    {% else %}
                    <span class="nome-usuario-text">Bem-vindo, {{ user.username }}!</span>
                    {% endif %}
                </div>
                <div class="secao-configuracoes-conta">
                    <span class="config-conta-text">Configurações de conta</span>
                    <div class="div-troca-senha">
                       <span class="trocar-senha-text">Troca Senha</span>
                        <button class="bnt-trocar-senha-text">Clique Aqui</button>
                    </div>
                    {% if erro %}
                        <div class="secao-mudar-senha" style="display: grid;">
                    {% else %}
                        {% if mensagemsucesso %}
                            <div class="secao-mudar-senha" style="display: grid;">
                        {% else %}
                            <div class="secao-mudar-senha" style="display: none;">
                        {% endif %}
                    {% endif %}
                    <h2>Trocar Senhar</h2>
                    <form action="{% url 'conta' %}" method="post"> {% csrf_token %}
                        <div>
                            <span>Digite o seu email:</span>
                            <div class="campo-senha">
                                <img class="icones-login-2" src="/static/produtos/img/abrir-menu.svg" alt="Ícone">
                                <input class='input-formulario' type="Email" id="email_login" name="email">
                            </div>
                        </div>
                        <div>
                            <span>Digite a sua senha atual:</span>
                            <div class="campo-senha">
                            <img class="icones-login-2" src="/static/produtos/img/abrir-menu.svg" alt="Ícone">
                            <input class='input-formulario' id="password-antigo" name="senha-antiga" >
                        </div>
                        </div>
                        <div>
                            <span>Digite a sua nova senha:</span>
                            <div class="campo-senha">
                            <img class="icones-login-2" src="/static/produtos/img/abrir-menu.svg" alt="Ícone">
                            <input class='input-formulario' id="password-novo" name="senha-nova" >
                        </div>
                        </div>
                        <button type="submit" class="btn">Enviar</button>
                    </form>
                    <div class="erros-div">
                        {% if erro %}
                            <span class="erro-usuario">{{ erro }}</span>
                        {% endif %}
                        {% if mensagemsucesso %}
                            <span class="sucessosenha-usuario">{{ mensagemsucesso }}</span>
                        {% endif %}
                    </div>
                </div>
                </div>


            </div>
        </div>
    </div>
    <script>

        const botaoAbrirSecao = document.querySelector('.bnt-trocar-senha-text')

        botaoAbrirSecao.addEventListener('click', abrirSecaoTrocaSenha)

        function abrirSecaoTrocaSenha() {
            let secaotrocarsenha = document.querySelector('.secao-mudar-senha')

            if (secaotrocarsenha.style.display === "grid") {
                secaotrocarsenha.style.display = "none" }
            else {
                secaotrocarsenha.style.display = "grid"
            }
            }




    </script>
    <script src="/static/produtos/js/menu.js"></script>
</body>
</html>