<!DOCTYPE html>
<html lang="en">
<head>
    <title>Página de Ferramentas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" href="/static/produtos/css/menu-lateral.css">
    <link rel="stylesheet" type="text/css" href="/static/produtos/css/paginacompleta.css">
    <link rel="stylesheet" type="text/css" href="/static/produtos/css/ferramentas.css">
</head>
<body>
    <div class="pagina-completa">
        <div class="menu-lateral">
            <div class="borda-elemento">
                 <nav class="menu-1">
                        <div class="logo-principal">
                            <a class="logo-nav" href="#">
                                <img src="/static/produtos/img/logodapagina.png" height="70" alt="Logo">
                            </a>
                        </div>
                        <div class="todos-os-itens-menu">
                            <ul class="itens-geral-menu">

                                <li class="itens-unicos-menu">
                                    <a class="links-paginas-menu" href="/conta/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/usuario.png" height="30">
                                            <span class="texto-menu">Minha Conta</span>
                                        </div>
                                    </a>
                                </li>

                               <li class="itens-unicos-menu">
                                   <a class="links-paginas-menu" href="/">
                                       <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/ferramentas.png" height="30">
                                            <span class="texto-menu">Ferramentas</span>
                                       </div>
                                   </a>
                                </li>


                                <li class="itens-unicos-menu">
                                    <a class="links-paginas-menu" href="/suporte/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/suporte.png" height="30">
                                            <span class="texto-menu">Suporte</span>
                                        </div>
                                    </a>
                                </li>


                                <li class="itens-unicos-menu" style="display:none">
                                    <a class="links-paginas-menu" href="/sugestoes/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/sugestoes.png" height="30">
                                            <span class="texto-menu">Sugestões</span>
                                        </div>
                                    </a>
                                </li>


                                <li class="itens-unicos-menu">
                                    <a class="links-paginas-menu" href="/tutoriais/">
                                        <div class="itens-menu-lateral-div">
                                            <img src="/static/produtos/img/tutoriais.png" height="30">
                                            <span class="texto-menu">Tutoriais</span>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="interacao-menu">
                            <a class="icone-interacao-fechar" href="#">
                                <img src="/static/produtos/img/fechar-menu.svg" height="20" alt="Logo">
                            </a>
                        </div>
                    </nav>
                 <nav class="menu-fechado">
                        <div class="logo-principal">
                            <a class="logo-nav" href="#">
                                <img src="/static/produtos/img/ferramentas.png" height="40" alt="Logo">
                            </a>
                        </div>

                        <div class="todos-os-itens-menu">
                            <ul class="itens-geral-menu-fechado">
                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/conta/">
                                       <img src="/static/produtos/img/usuario.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/">
                                        <img src="/static/produtos/img/ferramentas.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/suporte/">
                                        <img src="/static/produtos/img/suporte.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado" style="display:none">
                                    <a class='menu-fechado-links' href="/sugestoes/">
                                        <img src="/static/produtos/img/sugestoes.png" height="30">
                                    </a>
                                </li>

                                <li class="itens-unicos-menu-fechado">
                                    <a class='menu-fechado-links' href="/tutoriais/">
                                        <img src="/static/produtos/img/tutoriais.png" height="30">
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="interacao-menu">
                            <a class="icone-interacao-abrir" href="#">
                                <img src="/static/produtos/img/abrir-menu.svg" height="20" alt="Logo">
                            </a>
                        </div>
                    </nav>
            </div>
        </div>
        <div class="areadoprincipal">
            <div class="principalborda">
                <div class="principal-ferramenta">
                <div>
                    <span class="texto-ferramentas">Todas as Ferramentas</span>
                </div>
                <div class="todas-ferramentas">
                    <div class="ferramentas-unicas">
                        <a class="bnt-ferramentas" href="/produtos/">
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 400px;">
                            <div class="imagem-ferramentas">
                                <div class="imagem-central">
                                    <img src="/static/produtos/img/grau-branco.png" width="60px">
                                </div>
                            </div>
                            <div class="nome-ferramenta-div">
                                <span class="nome-ferramenta">Garimpagem de Produtos Normais</span>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="ferramentas-unicas">
                        <a class="bnt-ferramentas" href="">
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 400px;">
                                <div class="imagem-ferramentas">
                                    <div class="imagem-central" style="background-color:#0037A8;">
                                        <img src="/static/produtos/img/video-branco.png" width="60px">
                                    </div>
                                </div>
                                <div class="nome-ferramenta-div">
                                    <span class="nome-ferramenta" style="width: 200px;">Coletar Videos de um Canal</span>
                                </div>
                                <div class="ferramenta-em-desenvolvimento">
                                    <span class="texto-desenvolvimento">Em desenvolvimento</span>
                                </div>
                            </div>
                        </a>
                    </div>
                   <div class="ferramentas-unicas">
                       <a class="bnt-ferramentas" href="">
                           <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 400px;">
                               <div class="imagem-ferramentas">
                                    <div class="imagem-central" style="background-color: #00890E;">
                                        <img src="/static/produtos/img/banco-de-dados.png" width="60px">
                                    </div>
                                </div>
                               <div class="nome-ferramenta-div">
                                <span class="nome-ferramenta">Organização Profissional</span>
                            </div>
                               <div class="ferramenta-em-desenvolvimento">
                                <span class="texto-desenvolvimento">Em desenvolvimento</span>
                            </div>
                            </div>
                       </a>
                    </div>
                </div>
                <div class="borda-secao-sugestao">
                    <div class="secao-sugestao">
                        <div>
                           <span class="texto-sugestao">Gostaria de alguma <span class="texto-sugestao-amarelo">ferramenta nova?</span></span>
                        </div>
                        <div>
                            <a class="bnt-sugestoes" href="https://wa.me/5518997691852" target="_blank">
                                <span class="texto-sugestao-bnt">FAÇA AQUI SUA SUGESTÃO</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="/static/produtos/js/menu.js"></script>
</body>
</html>